{% extends "base.html" %}
{% block container %}
		<div id="sidebar">
			<div class="mainNavs">
            {% for c in categories %}
				<div class="menu_box">
					<div class="menu_main">
                        <h2>{{ c.name }}<span></span></h2>
                        {% for h in c.hot %}
                            <a href="{{ h.url }}">{{ h.name }}</a>
                        {% endfor %}
			        </div>
					<div class="menu_sub dn">
                    {% for children in  c.children %}
					    <dl class="reset">
					        <dt>
					            <a href="{{ children.url }}">{{ children.name }}</a>
					        </dt>
						    <dd>
                            {% for child in children.children %}
							    <a href="{{ child.url }}">{{ child.name }}</a>
                            {% endfor %}
							</dd>
					    </dl>
                    {% endfor %}
					</div>
				</div>
            {% endfor %}
			</div>
			<a class="subscribe" href="/subscribe.html" target="_blank">订阅搜索</a>
		</div>
        <div class="content">	
	        <div id="search_box">
                <form id="searchForm" name="searchForm" action="{% url 'alibaba_search_list' kd='all' %}" method="get">
                    <ul id="searchType">
                        <li data-searchtype="1" class="type_selected">文章</li>
                        <li data-searchtype="2">影音</li>
                        <li data-searchtype="3">文档</li>
                        <li data-searchtype="4">教育</li>
                        <li data-searchtype="5">购物</li>
                        <li data-searchtype="6">商家</li>
                        <li data-searchtype="7">问答</li>
                        <li data-searchtype="8">旅游</li>
                        <li data-searchtype="9">分类</li>
                        <li data-searchtype="10">行业</li>
                        <li data-searchtype="11">网站</li>
                    </ul>
                    <div class="searchtype_arrow"></div>
                    <input type="text" id="search_input" name = "kd"  tabindex="1" value=""  placeholder="请输入关键词，如：团购"  />
                    <input type="hidden" name="spc" id="spcInput" value="1"/>
                    <input type="hidden" name="pl" id="plInput" value=""/>
                    <input type="hidden" name="gj" id="gjInput" value=""/>
                    <input type="hidden" name="xl" id="xlInput" value=""/>
                    <input type="hidden" name="yx" id="yxInput" value=""/>
                    <input type="hidden" name="gx" id="gxInput" value="" />
                    <input type="hidden" name="st" id="stInput" value="" />
                    <input type="hidden" name="labelWords" id="labelWords" value="" />
                    <input type="hidden" name="lc" id="lc" value="" />
                    <input type="hidden" name="workAddress" id="workAddress" value=""/>
                    <input type="hidden" name="city" id="cityInput" value=""/>
                    <input type="submit" id="search_button" value="搜索" />
                </form>
            </div>
            <style>
            .ui-autocomplete{width:488px;background:#fafafa !important;position: relative;z-index:10;border: 2px solid #91cebe;}
            .ui-autocomplete-category{font-size:16px;color:#999;width:50px;position: absolute;z-index:11; right: 0px;/*top: 6px; */text-align:center;border-top: 1px dashed #e5e5e5;padding:5px 0;}
            .ui-menu-item{ *width:439px;vertical-align: middle;position: relative;margin: 0px;margin-right: 50px !important;background:#fff;border-right: 1px dashed #ededed;}
            .ui-menu-item a{display:block;overflow:hidden;}
            </style>
            <script type="text/javascript" src="/static/js/search.min.js"></script>
            <dl class="hotSearch">
                <dt>热门搜索：</dt>
            {% for tag in tags %}
                <dd><a href="">{{ tag.name }}</a></dd>
            {% endfor %}
            </dl>
			<div id="home_banner">
	            <ul class="banner_bg">
	            	<li  class="banner_bg_1 current" >
	                    <a href="" target="_blank"><img src="/static/images/d05a2cc6e6c94bdd80e074eb05e37ebd.jpg" width="612" height="160" alt="好买基金——来了就给100万" /></a>
	                </li>
	                <li  class="banner_bg_2" >
	                    <a href="" target="_blank"><img src="/static/images/c9d8a0756d1442caa328adcf28a38857.jpg" width="612" height="160" alt="世界杯放假看球，老板我也要！" /></a>
	                </li>
	                <li  class="banner_bg_3" >
	                    <a href="" target="_blank"><img src="/static/images/d03110162390422bb97cebc7fd2ab586.jpg" width="612" height="160" alt="出北京记——第一站厦门" /></a>
	                </li>
	            </ul>
	            <div class="banner_control">
	                <em></em> 
	                <ul class="thumbs">
	                	<li  class="thumbs_1 current" >
	                        <i></i>
	                        <img src="/static/images/4469b1b83b1f46c7adec255c4b1e4802.jpg" width="113" height="42" />
	                    </li>
	                    <li  class="thumbs_2" >
	                        <i></i>
	                        <img src="/static/images/381b343557774270a508206b3a725f39.jpg" width="113" height="42" />
	                    </li>
	                    <li  class="thumbs_3" >
	                        <i></i>
	                        <img src="/static/images/354d445c5fd84f1990b91eb559677eb5.jpg" width="113" height="42" />
	                    </li>
	                </ul>
	            </div>
	        </div><!--/#main_banner-->
			
        	<ul id="da-thumbs" class="da-thumbs">
                <li >
                    <a href="h/c/1650.html" target="_blank">
                        <img src="/static/images/a254b11ecead45bda166afa8aaa9c8bc.jpg" width="113" height="113" alt="联想" />
                        <div class="hot_info">
                            <h2 title="联想">联想</h2>
                            <em></em>
                            <p title="世界因联想更美好">
                                世界因联想更美好
                            </p>
                        </div>
                    </a>
                </li>
                <li >
                    <a href="h/c/9725.html" target="_blank">
                        <img src="/static/images/c75654bc2ab141df8218983cfe5c89f9.jpg" width="113" height="113" alt="淘米" />
                        <div class="hot_info">
                            <h2 title="淘米">淘米</h2>
                            <em></em>
                            <p title="将心注入 追求极致">
                                将心注入 追求极致
                            </p>
                        </div>
                    </a>
                </li>
                <li >
                    <a href="h/c/1914.html" target="_blank">
                        <img src="/static/images/2bba2b71d0b0443eaea1774f7ee17c9f.png" width="113" height="113" alt="优酷土豆" />
                        <div class="hot_info">
                            <h2 title="优酷土豆">优酷土豆</h2>
                            <em></em>
                            <p title="专注于视频领域，是中国网络视频行业领军企业">
                                专注于视频领域，是中国网络视频行业领军企业
                            </p>
                        </div>
                    </a>
                </li>
                <li >
                    <a href="h/c/6630.html" target="_blank">
                        <img src="/static/images/f4822a445a8b495ebad81fcfad3e40e2.jpg" width="113" height="113" alt="思特沃克" />
                        <div class="hot_info">
                            <h2 title="思特沃克">思特沃克</h2>
                            <em></em>
                            <p title="一家全球信息技术服务公司">
                                一家全球信息技术服务公司
                            </p>
                        </div>
                    </a>
                </li>
                <li >
                    <a href="h/c/2700.html" target="_blank">
                        <img src="/static/images/5caf8f9631114bf990f87bb11360653e.png" width="113" height="113" alt="奇猫" />
                        <div class="hot_info">
                            <h2 title="奇猫">奇猫</h2>
                            <em></em>
                            <p title="专注于移动互联网、互联网产品研发">
                                专注于移动互联网、互联网产品研发
                            </p>
                        </div>
                    </a>
                </li>
                <li  class="last" >
                    <a href="h/c/1335.html" target="_blank">
                        <img src="/static/images/c0052c69ef4546c3b7d08366d0744974.jpg" width="113" height="113" alt="堆糖网" />
                        <div class="hot_info">
                            <h2 title="堆糖网">堆糖网</h2>
                            <em></em>
                            <p title="分享收集生活中的美好，遇见世界上的另外一个你">
                                分享收集生活中的美好，遇见世界上的另外一个你
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
            
            <ul class="reset hotabbing">
                <li class="current">热门职位</li>
            	<li>最新职位</li>
            </ul>
            <div id="hotList">
	            <ul class="hot_pos reset">
                {% for result in results %}
                    <li class="clearfix">
                        <div class="hot_pos_l">
                            <div class="mb10">
                                <a href="h/jobs/147822.html" title="{{ result.title }}" target="_blank">{{ result.title }}</a>
                                &nbsp;
                                <span class="c9">[{{ result.city }}]</span>
                            </div>
                            <span><em class="c7">价格： </em>{{ result.value }}</span>
                            <span><em class="c7">分类：</em>{{ result.firstCategory }}</span>
                            <span><em class="c7">标签：</em>{{ result.secondCategory }}</span>
                            <br />
                            <span><em class="c7">地址：</em>{{ result.address }}</span>
                            <br />
                            <span>1天前发布</span>
{#                            <a  class="wb">分享</a>#}
                        </div>
                        <div class="hot_pos_r">
                            <div class="mb10 recompany"><a href="h/c/399.html" title="{{ result.shops.0.name }}" target="_blank">{{ result.shops.0.name }}</a></div>
                            <span><em class="c7">地区： </em>{{ result.shops.0.area }}</span>
                            <span><em class="c7">电话：</em>{{ result.shops.0.tel }}</span>
                            <br />
                            <span><em class="c7">店铺： </em>{{ result.shops.0.name }}</span>
                            <span><em class="c7">地址： </em>{{ result.shops.0.addr }}</span>
                            <ul class="companyTags reset">
                                <li>移动互联网</li>
                                <li>五险一金</li>
                                <li>扁平管理</li>
                            </ul>
                        </div>
			        </li>
                {% endfor %}
	                <a href="list.html" class="btn fr" target="_blank">查看更多</a>
	            </ul>
	            <ul class="hot_pos hot_posHotPosition reset" style="display:none;">
                {% for result in results %}
                    <li class="clearfix">
		                <div class="hot_pos_l">
			                <div class="mb10">
			                    <a href="h/jobs/149389.html" target="_blank">{{ result.title }}</a>
                                &nbsp;
                                <span class="c9">[南京]</span>
                            </div>
                            <span><em class="c7">月薪： </em>12k-24k</span>
                            <span><em class="c7">经验：</em>3-5年</span>
                            <span><em class="c7">最低学历：</em> 本科</span>
                            <br />
                            <span><em class="c7">职位诱惑：</em>IPO了的互联网创业公司，潜力无限！</span>
                            <br />
                            <span>15:11发布</span>
                            <!-- <a  class="wb">分享到微博</a> -->
                        </div>
                        <div class="hot_pos_r">
                            <div class="mb10"><a href="h/c/8250.html" target="_blank">{{ result.businessTitle }}</a></div>
                            <span><em class="c7">领域：</em> 电子商务,在线旅游</span>
                            <span><em class="c7">创始人：</em>于敦德</span>
                            <br />
                            <span> <em class="c7">阶段： </em>上市公司</span>
                            <span> <em class="c7">规模：</em>500-2000人</span>
                            <ul class="companyTags reset">
                                <li>绩效奖金</li>
                                <li>股票期权</li>
                                <li>五险一金</li>
                            </ul>
                        </div>
                    </li>
                {% endfor %}
                    <a href="list.html?city=%E5%85%A8%E5%9B%BD" class="btn fr" target="_blank">查看更多</a>
	            </ul>
            </div>
            
            <div class="clear"></div>
			<div id="linkbox">
			    <dl>
			        <dt>友情链接</dt>
			        <dd>
                    {% for link in links %}
                        <a href="{{ link.url }}" target="_blank">{{ link.name }}</a> <span>|</span>
                    {% endfor %}
			        </dd>
			    </dl>
			</div>
        </div>	
 	    <input type="hidden" value="" name="userid" id="userid" />
 		<!-- <div id="qrSide"><a></a></div> -->
<!--  -->

<!-- <div id="loginToolBar">
	<div>
		<em></em>
		<img src="style/images/footbar_logo.png" width="138" height="45" />
		<span class="companycount"></span>
		<span class="positioncount"></span>
		<a href="#loginPop" class="bar_login inline" title="登录"><i></i></a>
		<div class="right">
			<a href="register.html?from=index_footerbar" onclick="_hmt.push(['_trackEvent', 'button', 'click', 'register'])" class="bar_register" id="bar_register" target="_blank"><i></i></a>
		</div>
		<input type="hidden" id="cc" value="16002" />
		<input type="hidden" id="cp" value="96531" />
	</div>
</div>
 -->
<!-------------------------------------弹窗lightbox  ----------------------------------------->
<div style="display:none;">
	<!-- 登录框 -->
	<div id="loginPop" class="popup" style="height:240px;">
       	<form id="loginForm">
			<input type="text" id="email" name="email" tabindex="1" placeholder="请输入登录邮箱地址" />
			<input type="password" id="password" name="password" tabindex="2" placeholder="请输入密码" />
			<span class="error" style="display:none;" id="beError"></span>
		    <label class="fl" for="remember"><input type="checkbox" id="remember" value="" checked="checked" name="autoLogin" /> 记住我</label>
		    <a href="h/reset.html" class="fr">忘记密码？</a>
		    <input type="submit" id="submitLogin" value="登 &nbsp; &nbsp; 录" />
		</form>
		<div class="login_right">
			<div>还没有人人搜索帐号？</div>
			<a href="register.html" class="registor_now">立即注册</a>
		    <div class="login_others">使用以下帐号直接登录:</div>
		    <a href="h/ologin/auth/sina.html" target="_blank" id="icon_wb" class="icon_wb" title="使用新浪微博帐号登录"></a>
		    <a href="h/ologin/auth/qq.html" class="icon_qq" id="icon_qq" target="_blank" title="使用腾讯QQ帐号登录" ></a>
		</div>
    </div><!--/#loginPop-->
</div>
<!------------------------------------- end ----------------------------------------->
<script type="text/javascript" src="/static/js/Chart.min.js"></script>
<script type="text/javascript" src="/static/js/home.min.js"></script>
<script type="text/javascript" src="/static/js/count.js"></script>
{% endblock %}