{% extends "base.html" %}
{% block container %}
<div class="background-gradient">
    <div class="container">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="#">课程</a></li>
                <li><a href="#">后端开发</a></li>
                <li><a href="#">C++</a></li>
                <li><a href="#">C++远征之模版篇</a></li>
            </ol>
        </div>
        <div class="row padding ">
            <h4>MongoDB集群之分片技术应用</h4>
        </div>
        <div class="row row-nav-margin">
            <div class="col-xs-4 col-md-2 edit">
                <h6>初级</h6>
                <span class="span-title">难度</span>
            </div>
            <div class="col-xs-4 col-md-2 edit">
                <h6>186</h6>
                <span class="span-title">学习人数</span>
            </div>
            <div class="col-xs-4 col-md-2 edit">
                <h6>1小时30分钟</h6>
                <span class="span-title">时长</span>
            </div>
            <div class="col-xs-12 col-md-6">
                <a href="#" class="pull-right button-self">开始学习</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-9" style=";padding-right:15px;">
            <ul class="content-title-1">
               <li>
                   <a href="#">章节</a>
               </li>
            </ul>
            <ul class="content-1">
                <li class="clearfix">
                    <div class="col-md-1">
                        <img src="/images/study/img_chapter.png" alt="">
                    </div>
                    <div class="col-md-11 content-1-div">
                        <span>第一章MongDB分片介绍</span>
                        <p>本章主要介绍MongoDB分片的概念及其优势和使用场景，以及与副本级的区别，让大家对分片有一个基本的概念与</p>
                    </div>
                </li>
                <li class="clearfix">
                    <div class="col-md-1">
                        <img src="/images/study/img_chapter.png" alt="">
                    </div>
                    <div class="col-md-11 content-1-div">
                        <span>第一章MongDB分片介绍</span>
                        <p>本章主要介绍MongoDB分片的概念及其优势和使用场景</p>
                    </div>
                </li>
                <li class="clearfix">
                    <div class="col-md-1">
                        <img src="/images/study/img_chapter_un.png" alt="">
                    </div>
                    <div class="col-md-11 content-1-div">
                        <span>第一章MongDB分片介绍</span>
                        <p>本章主要介绍MongoDB分片的概念及其优势和使用场景，以及与副本级的区别</p>
                    </div>
                </li>
                <li class="clearfix">
                    <div class="col-md-1">
                        <img src="/images/study/img_chapter_un.png" alt="">
                    </div>
                    <div class="col-md-11 content-1-div">
                        <span>第一章MongDB分片介绍</span>
                        <p>本章主要介绍MongoDB分片的概念及其优势和使用场景，阿斯蒂芬</p>
                    </div>
                </li>
                <li class="clearfix">
                    <div class="col-md-1">
                        <img src="/images/study/img_chapter_un.png" alt="">
                    </div>
                    <div class="col-md-11 content-1-div">
                        <span>第一章MongDB分片介绍</span>
                        <p>本章主要介绍MongoDB分片的概念及其优势和使用场景，以及与副本级的区别，让大家对分</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-3" style=";padding-right:0px;">
            <ul class="content-title-2">
                <li>前置课程</li>
            </ul>
            <ul class="content-2">
                <li>
                    <span class="content-2-span-1">Canvas玩转图像处理</span>
                    <span class="content-2-span-2">未学习</span>
                </li>                <li>
                    <span class="content-2-span-1">Canvas玩转图像处理</span>
                    <span class="content-2-span-2">未学习</span>
                </li>                <li>
                    <span class="content-2-span-1">Canvas玩转图像处理</span>
                    <span class="content-2-span-2">未学习</span>
                </li>                <li>
                    <span class="content-2-span-1">Canvas玩转图像处理</span>
                    <span class="content-2-span-2">未学习</span>
                </li>                <li>
                    <span class="content-2-span-1">Canvas玩转图像处理</span>
                    <span class="content-2-span-2">未学习</span>
                </li>                <li>
                    <span class="content-2-span-1">Canvas玩转图像处理</span>
                    <span class="content-2-span-2">未学习</span>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
{% endblock %}