{% extends "base.html" %}
{% block title %}{{ kd }}{{ city }}-搜索-{% endblock %}
{% block description %}{{ kd }}招聘  全国地区招聘 紫色医疗招聘{{ kd }},月薪:10k-20k,要求:本科及以上学历,3-5年工作经验。职位诱惑：借移动医疗大势享受坐直升飞机的职场发展 公司规模:15-50人移动互联网 ,健康医疗类公司招聘信息汇总  最新最热门互联网行业招聘信息，尽在拉勾网"{% endblock %}
{% block keywords %}{{ kd }}招聘,全国地区{{ kd }}招聘,紫色医疗招聘{{ kd }},移动互联网 类公司招聘信息汇总,健康医疗类公司招聘信息汇总,拉勾招聘,拉勾网,互联网招聘{% endblock %}
{% block container %}
       	<div class="sidebar">
            <div id="options" class="greybg">
                <dl >
                   	<dt>月薪范围 <em ></em></dt>
	                <dd>
                        <div>2k以下</div>
                        <div>2k-5k</div>
                        <div>5k-10k</div>
                        <div>10k-15k</div>
                        <div>15k-25k</div>
                        <div>25k-50k</div>
                        <div>50k以上</div>
                    </dd>
                </dl>
                <dl >
                   	<dt>发布时间 <em ></em></dt>
	                <dd >
                        <div>今天</div>
                        <div>3天内</div>
                        <div>一周内</div>
                        <div>一月内</div>
                    </dd>
                </dl>
            </div>

            <!-- QQ群 -->
            <div class="qq_group">
                加入<span>月光吧</span>QQ群
                <div class="f18">跟同行聊聊</div>
                <p>290191473</p>
            </div>

            <!-- 对外合作广告位  -->
            <a href="http://www.w3cplus.com/" target="_blank" class="partnersAd">
                <img src="/static/images/w3cplus.png" width="230" height="80" alt="w3cplus" />
            </a>
            <a href="" target="_blank" class="partnersAd">
                <img src="/static/images/jquery_school.jpg" width="230" height="80" alt="JQ学校" />
            </a>
            <a href="http://linux.cn/" target="_blank" class="partnersAd">
	            	<img src="/static/images/linuxcn.png" width="230" height="80" alt="Linux中文社区"  />
            </a>
            <a href="http://zt.zhubajie.com/zt/makesite? utm_source=lagou.com&utm_medium=referral&utm_campaign=BD-yl" target="_blank" class="partnersAd">
                <img src="/static/images/zhubajie.jpg" width="230" height="80" alt="猪八戒" />
            </a>
            <a href="http://www.imooc.com" target="_blank" class="partnersAd">
                <img src="/static/images/muke.jpg" width="230" height="80" alt="幕课网" />
            </a>
        </div>

        <div class="content">
        	<div id="search_box">
                <form id="searchForm" name="searchForm" action="{% url 'alibaba_search_list' kd=kd %}" method="get">
                <ul id="searchType">
                    <li data-searchtype="1" {% ifequal spc "1" %}class="type_selected"{% endifequal %}>文章</li>
                    <li data-searchtype="2" {% ifequal spc "2" %}class="type_selected"{% endifequal %}>影音</li>
                    <li data-searchtype="3" {% ifequal spc "3" %}class="type_selected"{% endifequal %}>文档</li>
                    <li data-searchtype="4" {% ifequal spc "4" %}class="type_selected"{% endifequal %}>教育</li>
                    <li data-searchtype="5" {% ifequal spc "5" %}class="type_selected"{% endifequal %}>购物</li>
                    <li data-searchtype="6" {% ifequal spc "6" %}class="type_selected"{% endifequal %}>商家</li>
                    <li data-searchtype="7" {% ifequal spc "7" %}class="type_selected"{% endifequal %}>问答</li>
                    <li data-searchtype="8" {% ifequal spc "8" %}class="type_selected"{% endifequal %}>旅游</li>
                    <li data-searchtype="9" {% ifequal spc "9" %}class="type_selected"{% endifequal %}>分类</li>
                    <li data-searchtype="10" {% ifequal spc "10" %}class="type_selected"{% endifequal %}>行业</li>
                    <li data-searchtype="11" {% ifequal spc "11" %}class="type_selected"{% endifequal %}>网站</li>
                </ul>
                <div class="searchtype_arrow"></div>
                <input type="text" id="search_input" name = "kd"  tabindex="1" value="{{ kd }}"  placeholder="请输入关键词，如：团购"  />
                <input type="hidden" name="spc" id="spcInput" value="{{ spc }}"/>
                <input type="hidden" name="pl" id="plInput" value=""/>
                <input type="hidden" name="gj" id="gjInput" value=""/>
                <input type="hidden" name="xl" id="xlInput" value=""/>
                <input type="hidden" name="yx" id="yxInput" value=""/>
                <input type="hidden" name="gx" id="gxInput" value="" />
                <input type="hidden" name="st" id="stInput" value="" />
                <input type="hidden" name="labelWords" id="labelWords" value="label" />
                <input type="hidden" name="lc" id="lc" value="" />
                <input type="hidden" name="workAddress" id="workAddress" value=""/>
                <input type="hidden" name="city" id="cityInput" value="{{ city }}"/>
                <input type="submit" id="search_button" value="搜索" />
            </form>
        </div>
        <style>
        .ui-autocomplete{width:488px;background:#fafafa !important;position: relative;z-index:10;border: 2px solid #91cebe;}
        .ui-autocomplete-category{font-size:16px;color:#999;width:50px;position: absolute;z-index:11; right: 0px;/*top: 6px; */text-align:center;border-top: 1px dashed #e5e5e5;padding:5px 0;}
        .ui-menu-item{ *width:439px;vertical-align: middle;position: relative;margin: 0px;margin-right: 50px !important;background:#fff;border-right: 1px dashed #ededed;}
        .ui-menu-item a{display:block;overflow:hidden;}
        </style>
        <script type="text/javascript" src="/static/js/search.min.js"></script>
        <dl class="hotSearch">
            <dt>热门搜索：</dt>
            {% for tag in host_search %}
            <dd><a href="{% url 'alibaba_search_list' kd=tag %}?labelWords=label&city={{ city }}">{{ tag }}</a></dd>
            {% endfor %}
        </dl>
            <div class="breakline"></div>
            <dl class="workplace" id="workplaceSelect">
                <dt class="fl">地点：</dt>
                <dd ><a href="javascript:;" class="current">全国</a>|</dd>
                <dd ><a href="javascript:;" >北京</a>|</dd>
                <dd ><a href="javascript:;" >上海</a>|</dd>
                <dd ><a href="javascript:;" >广州</a>|</dd>
                <dd ><a href="javascript:;" >深圳</a>|</dd>
                <dd ><a href="javascript:;" >成都</a>|</dd>
                <dd ><a href="javascript:;" >杭州</a>|</dd>
                <dd ><a href="javascript:;" >武汉</a>|</dd>
                <dd ><a href="javascript:;" >南京</a>|</dd>
                <dd  class="more" >
                    <a href="javascript:;" >其他</a>
                    <div class="triangle citymore_arrow"></div>
                </dd>
                <dd id="box_expectCity" class="searchlist_expectCity dn">
	            	<span class="bot"></span>
	            	<span class="top"></span>
                    <dl>
                        <dt>ABCDEF</dt>
                        <dd>
                            <span>北京</span>
                            <span>长春</span>
                            <span>成都</span>
                            <span>重庆</span>
                            <span>长沙</span>
                            <span>常州</span>
                            <span>东莞</span>
                            <span>大连</span>
                            <span>佛山</span>
                            <span>福州</span>
                        </dd>
                    </dl>
                    <dl>
                        <dt>GHIJ</dt>
                        <dd>
                            <span>贵阳</span>
                            <span>广州</span>
                            <span>哈尔滨</span>
                            <span>合肥</span>
                            <span>海口</span>
                            <span>杭州</span>
                            <span>惠州</span>
                            <span>金华</span>
                            <span>济南</span>
                            <span>嘉兴</span>
                        </dd>
                    </dl>
                    <dl>
                        <dt>KLMN</dt>
                        <dd>
                            <span>昆明</span>
                            <span>廊坊</span>
                            <span>宁波</span>
                            <span>南昌</span>
                            <span>南京</span>
                            <span>南宁</span>
                            <span>南通</span>
                        </dd>
                    </dl>
                    <dl>
                        <dt>OPQR</dt>
                        <dd>
                            <span>青岛</span>
                            <span>泉州</span>
                        </dd>
                    </dl>
                    <dl>
                        <dt>STUV</dt>
                        <dd>
                            <span>上海</span>
                            <span>石家庄</span>
                            <span>绍兴</span>
                            <span>沈阳</span>
                            <span>深圳</span>
                            <span>苏州</span>
                            <span>天津</span>
                            <span>太原</span>
                            <span>台州</span>
                        </dd>
                    </dl>
                    <dl>
                        <dt>WXYZ</dt>
                        <dd>
                            <span>武汉</span>
                            <span>无锡</span>
                            <span>温州</span>
                            <span>西安</span>
                            <span>厦门</span>
                            <span>烟台</span>
                            <span>珠海</span>
                            <span>中山</span>
                            <span>郑州</span>
                        </dd>
                    </dl>
                </dd>
            </dl>

            <div id="tip_didi" class="dn">
            	<span>亲，月光吧定制搜索开启搜索自由定制之旅~~</span>
            	<a href="javascript:;">我知道了</a>
            </div>
            <ul class="hot_pos reset">
                {% for result in results %}
                <li class="odd clearfix">
                    <div class="hot_pos_l">
                        <div class="mb10">
                            <a href="{% url "alibaba_search_detail" website_slug=result.site pk=result.meta.id %}" title="{{ result.title }}" target="_blank">{{ result.title }}</a>
                            &nbsp;
                            <span class="c9">[{{ result.city }}]</span>
                        </div>
                        <span><em class="c7">价格： </em>{{ result.value }}</span>
                        <span><em class="c7">分类：</em>{{ result.firstCategory }}</span>
                        <span><em class="c7">标签：</em>{{ result.secondCategory }}</span>
                        <br />
                        <span><em class="c7">地址：</em>{{ result.shops.0.addr }}</span>
                        <br />
                        <span>1天前发布</span>
{#                        <a class="wb">分享</a>#}
                    </div>
                    <div class="hot_pos_r">
                        <div class="apply">
                            <a href="toudi.html" target="_blank">我要收藏</a>
                        </div>
                        <div class="mb10"><a href="{% url "alibaba_search_detail" website_slug=result.site pk=result.meta.id %}" title="{{ result.shops.0.name }}" target="_blank">{{ result.shops.0.name }}</a></div>
                        <span><em class="c7">地区： </em>{{ result.shops.0.area }}</span>
                        <span><em class="c7">电话：</em>{{ result.shops.0.tel }}</span>
                        <br />
                        <span><em class="c7">店铺： </em>{{ result.shops.0.name }}</span>
                        <span><em class="c7">地址： </em>{{ result.shops.0.addr }}</span>
                        <ul class="companyTags reset">
                            <li>五险一金</li>
                            <li>股票期权</li>
                            <li>年度旅游</li>
                        </ul>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <div class="Pagination"></div>
        </div>
<script>
$(function(){
	/***************************
 	 * 分页
 	 */
    $('.Pagination').pager({
		      currPage: {{ page }},
		      pageNOName: "page",
		      form: "searchForm",
		      pageCount: {{ page_size }},
		      pageSize: 10
		});

	$(".workplace dd").not('.more').children('a').click(function(){
		$('#lc').val(1);
		editForm("cityInput" , $(this).html());
	});

	$("#box_expectCity dd span").click(function(){
		$('#lc').val(1);
		editForm("cityInput" , $(this).html());
	});

	$('#options dd div').click(function(){
		var firstName = $(this).parents('dl').children('dt').text();
		var fn = $.trim(firstName);
		if (fn=="月薪范围"){
			editForm("yxInput" , $(this).html());
		}
		else if(fn=="工作经验"){
			editForm("gjInput" , $(this).html());
		}
		else if(fn=="最低学历"){
			editForm("xlInput" , $(this).html());
		}
		else if(fn=="工作性质"){
			editForm("gxInput" , $(this).html());
		}
		else if(fn=="发布时间"){
			editForm("stInput" , $(this).html());
		}
	});

	$('#selected ul').delegate('li span.select_remove','click',function(event){
		var firstName = $(this).parent('li').find('strong').text();
		var fn = $.trim(firstName);
		if (fn=="月薪范围")
			editForm("yxInput" , "");
		else if(fn=="工作经验")
			editForm("gjInput" , "");
		else if(fn=="最低学历")
			editForm("xlInput" , "");
		else if(fn=="工作性质")
			editForm("gxInput" , "");
		else if(fn=="发布时间")
			editForm("stInput" , "");
	});

	/* search结果飘绿	*/
	(function($) {
		var searchVal = $('#search_input').val();
		var reg = /\s/g;
		searchVal = searchVal.replace(reg, "").split("");

		var resultL = '';
		var resultR = '';
		$('.hot_pos li').each(function(){
			resultL = $('.hot_pos_l a',this).text().split("");
			$.each(resultL,function(i,v){
				if($.inArray(v.toLowerCase(),searchVal) != -1 || $.inArray(v.toUpperCase(),searchVal) != -1){
					resultL[i] = '<span>'+ v +'</span>';
				}
			});
			$('.hot_pos_l a',this).html(resultL.join(''));

			resultR = $('.hot_pos_r .mb10 a',this).text().split("");
			$.each(resultR,function(i,v){
				if($.inArray(v.toLowerCase(),searchVal) != -1 || $.inArray(v.toUpperCase(),searchVal) != -1){
					resultR[i] = '<span>'+ v +'</span>';
				}
			});
			$('.hot_pos_r .mb10 a',this).html(resultR.join(''));
		});

	})(jQuery);

	//didi tip
   	if($.cookie('didiTip') != 1 && true){
		$('#tip_didi').show();
	}
	$('#tip_didi a').click(function(){
		$(this).parent().remove();
		$.cookie('didiTip',1,{ expires: 30, path: '/'});
	});

});

function editForm(inputId,inputValue){
	$("#"+inputId).val(inputValue);
	var keyword = $.trim($('#search_input').val());
	var reg =  /[`~!@\$%\^\&\*\(\)_<>\?:"\{\},\\\/;'\[\]]/ig;
	var re = /#/g;
	var r = /\./g;
	var kw = keyword.replace(reg," ");

	if(kw == ''){
		$('#searchForm').attr('action','list_all').submit();
	}else{
		kw = kw.replace(re,'井');
		kw = kw.replace(r,'。');
		$('#searchForm').attr('action','list_'+kw).submit();
	}
	//$("#searchForm").submit();
}
</script>
{% endblock %}