{% extends "base.html" %}
{% load url from future %}
{% load static %}
{% block container %}
<div class="background-gradient">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="padding:18px 0px">
                <form action="/search/" method="get" id="search_form">
                <div class="input-group form-group-lg" style="width:700px;margin:0 auto;border:none">
                    <input type="text" class="form-control input-lg" name="keywords" placeholder="请输入您要搜索的内容" value="{{ keywords }}" style="border:none;" id="search_text">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" style="height:45px;padding-right:50px;padding-left:50px;background-color:#FF5454;border:none" id="search_button">搜索</button>
                    </span>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <ul class="content-title-1">
                <li>
                    为您找到相关资源<span class="tips">{{ total }}</span>个
                </li>
            </ul>
            <ul>
                {% for result in results %}
                <li class="content">
                    <div class="col-md-12 content-1-div-2">
                        <ul>
                            <li>
                                <h6>
                                    <a href="{% url 'ask:question_detail' pk=result.id %}" title="{{ result.title }}"><span class="search-strong">{{ result.title }}</span></a>
                                </h6>
                                <p class="p1">
                                    {{ result.body|safe|striptags|slice:":300" }}
                                </p>
                                <p class="p2">
                                    <span class="tags">
                                        {% for tag in result.tags %}
                                            <a href="/search/?keywords={{ tag }}" class="post-tag" title="" rel="tag">{{ tag }}</a>
                                        {% endfor %}
                                    </span>
                                    <span class="" style="float: right">
                                    {{ result.created }}
                                    </span>
                                </p>
                            </li>
                        </ul>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="content-title-1" style="margin-bottom: 11px;">
                <li>热门搜索</li>
            </ul>
            <ul class="list-inline">
                {% for t in tags %}
                <li>
                    <a href="/search/?keywords={{ t }}">{{ t }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="pagination-self">
                <ul>
                    {% for p in page_list %}
                        <li>
                            <a href="/search/?keywords={{ keywords }}&page={{ p }}" {% ifequal p page %}class="active" {% endifequal %}>{{ p }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function(){
    $("#search_button").click(function(){
        var content=$("#search_text").val();
        if(content!=""){
            console.log(content);
            $("#search_form").submit();
        }
    })})
</script>
{% endblock %}