{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}用户登录{% endblock %}

{% block container %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="padding:108px 0px">
                <form action="" method="post">
                    {% csrf_token %}
                    <fieldset>
                        <legend>登录</legend>
                        {{ form.non_field_errors }}
                        {% for field in form %}
                            {{ field.errors }}
                            {% comment %} Displaying checkboxes differently {% endcomment %}
                            {% if field.name == 'remember_me' %}
                                <p class="checkbox">
                                    <label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
                                </p>
                            {% else %}
                                <p>
                                    {{ field.label_tag }}
                                    {{ field }}
                                </p>
                            {% endif %}
                        {% endfor %}
                    </fieldset>
                    <input type="submit" value="登录" class="btn btn-default"/>
                    <button class='js-captcha-refresh btn btn-default'>更新</button>
                    <p class="forgot-password"><a href="{% url 'userena_password_reset' %}" title="忘记密码？">忘记密码？</a></p>
                    {% if next %}<input type="hidden" name="next" value="{{ next }}"/>{% endif %}
                </form>
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
<script>
    $(function() {
      $('.js-captcha-refresh').click(function () {
          var imgurl=$(".captcha").attr("src");
          $(".captcha").attr("src",imgurl+ "?r"+Math.random())
          return false;
      });
    });
</script>
{% endblock %}