{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}用户登录{% endblock %}

{% block container %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="padding:108px 0px">
                <div class="login-screen">
                   <div class="login-icon">
                    <!--<img src="img/login/icon.png" alt="Welcome to Mail App">-->
                    <h4>欢迎 <small>登录</small></h4>
                  </div>
                    <div class="login-form">
                <form action="" method="post">
                    {% csrf_token %}
                        {{ form.non_field_errors }}
                        {% for field in form %}
                        <div class="form-group">
                            {{ field.errors }}
                            {% comment %} Displaying checkboxes differently {% endcomment %}
                            {% if field.name == 'remember_me' %}
                                <p class="checkbox">
                                    <label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
                                </p>
                            {% else %}
                                <p>
                                    {{ field.label_tag }}
                                    {{ field }}
                                </p>
                            {% endif %}
                        </div>
                        {% endfor %}
                    <button class='js-captcha-refresh btn btn-primary btn-lg btn-block'>更新</button>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">登录</button>
                    <p class="forgot-password login-link"><a href="{% url 'userena_password_reset' %}" title="忘记密码？">忘记密码？</a></p>
                    {% if next %}<input type="hidden" name="next" value="{{ next }}"/>{% endif %}
                </form>
                        </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
<script>
    $(function() {
      $("input").addClass("form-control login-field");
      $('.js-captcha-refresh').click(function () {
          var imgurl=$(".captcha").attr("src");
          $(".captcha").attr("src",imgurl+ "?r"+Math.random())
          return false;
      });
    });
</script>
{% endblock %}
{% block css %}
<style>
</style>
{% endblock %}